.header {
  display: flex;
  justify-content: space-between; /* flex-end에서 space-between으로 변경 */
  align-items: center;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  box-sizing: border-box;
  gap: 2rem;
}

.header-buttons-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.header-button{
  display: flex;
  padding: 5px 12px;
  background: #141414;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.main-page {
  background: linear-gradient(180deg, #0A0F33 0%, #1E2D99 100%);
}